@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização da barra de rolagem */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f0c14;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 20px;
}